@tailwind base;
@tailwind components;
@tailwind utilities;

.slide__section .swiper-button-next::after {
  @apply text-xs text-white;
}

.slide__section .swiper-button-next {
  @apply h-12 w-16 bg-[#252931] justify-start px-5 rounded-s-[30px] -right-7;
}

.slide__section .swiper-button-prev::after {
  @apply text-xs text-white z-0;
}

.slide__section .swiper-button-prev {
  @apply h-12 w-16 bg-[#252931] justify-end px-5 rounded-e-[30px] -left-7;
}

.products .swiper-button-next::after {
  @apply text-xs text-white z-0;
}

.products .swiper-button-next {
  @apply h-12 w-16 bg-[#666666] justify-start px-5 rounded-s-[30px] -right-7 hidden lg:flex;
}

.products .swiper-button-prev::after {
  @apply text-xs text-white z-0;
}
.products .swiper-button-prev {
  @apply h-12 w-16 bg-[#666666] justify-end px-5 rounded-e-[30px] -left-7 hidden lg:flex;
}

.products-1 .swiper-button-prev {
  @apply h-12 w-16 bg-[#666666] justify-end px-5 rounded-e-[30px] -left-7 hidden;
}

.products-1 .swiper-button-next {
  @apply h-12 w-16 bg-[#666666] justify-end px-5 rounded-e-[30px] -left-7 hidden;
}

.swiper-pagination {
  @apply flex justify-end !ml-auto !w-[50%] !right-0;
}
.left .swiper-pagination{
  @apply flex justify-start  items-end  !left-0 !bottom-0 !relative !mt-10 !w-full;
}

.left .swiper-pagination-bullet {
  @apply bg-white opacity-100;
}

.left .swiper-pagination-bullet-active {
  @apply bg-[#0156ff]
}




input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}

